<!--This is the penalties page code that gets pasted onto base code-->

{% extends "base.html" %}

{% block app_content %}
    <div id="Penalties">
        <h1>Penalties Page</h1>
        <h2>What happens after you return a book:</h2>
        <p>When the book is returned, I will assess the book for any damages.</p>
        <p><b>If</b> there are any <b>damages</b> there will be consequences according to the level of damage.</p>
        <br>
        <h2>Tiers of Damages:</h2>

        <h3>Level One</h3>
        <p>Physical Book:</p>
        <p>Audiobook:</p>
        <p> <b>Penalty Awarded:</b></p>
        <br>

        <h3>Level Two</h3>
        <p>Physical Book:</p>
        <p>Audiobook:</p>
        <p> <b>Penalty Awarded:</b></p>
        <br>

        <h3>Level Three</h3>
        <p>Physical Book:</p>
        <p>Audiobook:</p>
        <p> <b>Penalty Awarded:</b></p>
        <br>

        <h3>Level Four</h3>
        <p>Physical Book:</p>
        <p>Audiobook:</p>
        <p> <b>Penalty Awarded:</b></p>
        <br>

        <h3>Level Five</h3>
        <p>Physical Book:</p>
        <p>Audiobook:</p>
        <p> <b>Penalty Awarded:</b></p>
        <br>
        
        <h4>Once the level of damage has been identified...</h4>
        <p><b>You will recieve a message notifying you of the damages identified, the fine to be paid, and any further actions.</b></p>
    </div>
    
{% endblock %}